body{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;
    margin: 0;
    background-color: #f2f1f1;
}
a:link, a:visited{
    color: #4a4a4a;
    text-decoration: none;
}
.container{
    width: 1300px;
    min-width: 760px;
    margin: 0 auto;
}
.main-column{
    flex-grow: 1;
    margin: 20px;
}
.side-column{
    width: 300px;
}
.flex{
    display: flex;
}
.red-button{
    background-color: red;
    padding: 6px 10px;
}
.red-button a:link, .red-button a:visited{
    color: white;
}
.content-box{
    background-color: white;
    padding: 20px;
}
.content-box img{
    max-width: 100%;
}
.news-box{
    padding-top: 20px;
    width: 1250px;
}
.news-box div{
    padding-right:10px;
    max-width: 100%;
}
.news-box img{
    height: 170px;
    width: 310px;
}
.box-body{
    background-color: white;
    padding: 30px 15px;
    width: 285px;
    height: 150px;
}

#header{
    display: flex;
    padding-top: 20px;
}
#logo{
    width: 100px;
    margin-left: 20px;
}
#global{
    flex-grow: 1;
    text-align: right;
    font-weight: 600;
}
#global ul{
    list-style: none;
}
#global ul li{
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
}
#global ul li a:hover{
    color: #b3b3b3;
}
#navigation{
    background: #4a4a4a no-repeat;
    background-size: cover;
    padding: 15px 0;
}
#navigation a:link, #navigation ul li a:visited{
    color: white;
    font-weight: 600;
}
#navigation a:hover{
    color: #b3b3b3;
}
#navigation ul{
    list-style: none;
    padding-left: 30px;
}
#navigation ul li{
    display: inline;
    margin-right: 20px;
    text-transform: uppercase;
}
